### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#Three Observable Trends Bsed on this Data

#1. 84% of the player base is Male.
#2. Age group 20-24 purchase amounts are greater than the next 2 age groups combined.
#3. 20-24 spends the most money on items, yet age group 35-39 has the purchase value of items.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#Check for missing (na) data
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [4]:
#Check for differences in background column names
list(purchase_data)

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

In [5]:
#display/set to variable
players = len(purchase_data['SN'].unique())

#set in DF
players_df = pd.DataFrame({"Total # of Players": [len(purchase_data.SN.unique())]})
players_df

   Total # of Players
0                 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Count Uniques Items Purchased
unique_items = len(purchase_data['Item ID'].unique())

unique_items

179

In [7]:
#Assign Variables
avg_price = purchase_data['Price'].mean()
total_purchases = len(purchase_data['Purchase ID'])
total_revenue = sum(purchase_data['Price'])

In [8]:
#Create dataframe with variables and assign column names
summary_dict = {'Number of Unique Items': [unique_items],
              'Average Price': '{:.2f}%'.format(avg_price),
              'Number of Purchases': [total_purchases],
              'Total Revenue': '${:.2f}'.format(total_revenue)
             }
summary_pd = pd.DataFrame(summary_dict)
summary_pd

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         3.05%                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#Find unique SN within df to avoid Double Counting
gender = purchase_data.drop_duplicates('SN')

#Count each gender
gender_count = gender['Gender'].value_counts()

#Get percentage
gender_percent = (gender['Gender'].value_counts()/players)*100

#Present data in dataframe
gender_df = pd.DataFrame({
    'Count': gender_count,
    'Percent of Total Players': gender_percent.map('{:.2f}%'.format)})

gender_df

                       Count Percent of Total Players
Male                     484                   84.03%
Female                    81                   14.06%
Other / Non-Disclosed     11                    1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Create dataframe with Gender and Price
summary_df = purchase_data[['SN','Gender','Price']]
summary_unique = summary_df.drop_duplicates(subset='SN', keep="last")

#calculate variables for table
tot_items_gender = summary_df.groupby(["Gender"])["Price"].count()
ave_price_gender= summary_df.groupby(["Gender"])["Price"].mean()
tot_price_gender = summary_df.groupby(["Gender"])["Price"].sum()
unique_items_gender = summary_unique.groupby(["Gender"])["Price"].count()
ave_purchase_gender =(tot_price_gender/unique_items_gender)

#summarize and sort
summary_gender = pd.DataFrame({"Purchase Count":tot_items_gender, "Item Price($)":round(ave_price_gender,2), "Total Purchase Value($)":round(tot_price_gender,2),"Avg Total Purchase per Person($)":round(ave_purchase_gender,2)})
summary_sorted = summary_gender.sort_values("Purchase Count", ascending= False)
summary_sorted

,Purchase Count,Item Price($),Total Purchase Value($),Avg Total Purchase per Person($)
Gender,,,,
Male,652,3.02,1967.64,4.07
Female,113,3.20,361.94,4.47
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [12]:
# use pd.cut to add age groups to dataframe
data_copy = purchase_data.copy()
data_copy["Age Groups"] = pd.cut(data_copy["Age"], age_bins, labels=group_names)
age_df = data_copy.groupby(["Age Groups"])

In [13]:
# calculate variables
age_df_count = age_df["SN"].count()
total_count = data_copy["SN"].count()
age_percentage = (age_df_count / total_count)*100

# create new dataframe with counts & percentage of players by age group
percentage_df = pd.DataFrame({"Total Count": age_df_count,"Percentage of Players(%)": round(age_percentage,2)})
percentage_df.head(10)

            Total Count  Percentage of Players(%)
Age Groups
<10                  23                      2.95
10-14                28                      3.59
15-19               136                     17.44
20-24               365                     46.79
25-29               101                     12.95
30-34                73                      9.36
35-39                41                      5.26
40+                  13                      1.67

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
#Calculate variables
age_df_mean = age_df["Price"].mean()
age_sum = age_df["Price"].sum()

#Create new dataframe
age_analysis = pd.DataFrame({"Purchase Count": age_df_count,"Average Purchase Price($)":round(age_df_mean,2),"Total Purchase Value($)":round(age_sum,2)})
age_analysis

            Purchase Count  Average Purchase Price($)  Total Purchase Value($)
Age Groups
<10                     23                       3.35                    77.13
10-14                   28                       2.96                    82.78
15-19                  136                       3.04                   412.89
20-24                  365                       3.05                  1114.06
25-29                  101                       2.90                   293.00
30-34                   73                       2.93                   214.00
35-39                   41                       3.60                   147.67
40+                     13                       2.94                    38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
# Groupby screen names
top_spenders = purchase_data.groupby(["SN"])

# Calculate top spending parameters
total_purchase_value_spender = top_spenders["Price"].sum()
purchase_count_spender = top_spenders["Purchase ID"].count()
avg_purchase_price_spender = top_spenders["Price"].mean()

#Create a dataframe in descending order with appropriate formatting

top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":total_purchase_value_spender})
descending_spenders = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()
descending_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
# Create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})